################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet5example/.vs/dotnet5example/DesignTimeBuild
/dotnet5example/Client/obj
/dotnet5example/Server/obj
/dotnet5example/Shared/obj
